# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
build/

# Environment files
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads (certificates)
backend/uploads/

# MongoDB data (local)
data/

# Secure Data Folder
secured_not_to_be_pushed/
